{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "prettier",
    "eslint-config-blvd/react",
    "prettier/@typescript-eslint",
    "prettier/react",
    "plugin:prettier/recommended",
    "standard"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "space-before-function-paren": 0,
    "comma-dangle": [
      "error",
      {
        "arrays": "only-multiline",
        "objects": "only-multiline",
        "imports": "only-multiline",
        "exports": "only-multiline",
        "functions": "only-multiline"
      }
    ],
    "max-len": ["error", { "code": 140, "ignoreUrls": true }],
    "import/prefer-default-export": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/indent": "off",
    "react/no-unescaped-entities": [
      "error",
      {
        "forbid": [
          { "char": ">", "alternatives": ["&gt;"] },
          { "char": "}", "alternatives": ["&#125;"] }
        ]
      }
    ]
  }
}
