---
title: 404
permalink: /404.html
header: 404
---

<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    {% include header.html %}

    <article class="post">

      <header class="post-header">
        <h2 class="post-title">{{ page.title }}</h2>
      </header>

      <div class="post-content">
        <h2>Sorry, the page is not found.</h2>
        <p>You will be redirected to <a href="/blog">himalay.com.np/blog/</a> in few seconds.</p>
      </div>

    </article>
<span class="punctuation">}</span>
  </body>

</html>
