<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <title>{% if page.title %}{{ page.title | escape }} &middot; {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
{% if site.production == true and page.sitemap != false  %}
  <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
{% else %}
  <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
{% endif %}

{% if page.url == "/404.html" %}
  <meta http-equiv="refresh" content="5; url=/blog">
{% endif %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/assets/style.css" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/himalay.png">
  <link rel="shortcut icon" href="/assets/images/favicon.png">
  <script src="{{ "/assets/app.js" | prepend: site.baseurl }}" defer async></script>
  <script src="https://cdn.rawgit.com/taylorhakes/promise-polyfill/d7369216/promise.min.js" defer async></script>
  <script src="https://cdn.rawgit.com/github/fetch/7a692dc5/fetch.js" defer async></script>
</head>
