---
layout: nofooter
---

<div class="obj-pros"><span class="key">cli_posts</span><span class="punctuation">: </span><span class="punctuation">[</span>{% for post in site.posts | where:"category", "cli"%}<span class="punctuation">{</span>
<div class="obj-pros">
  <div>
    <span class="key">title</span><span class="punctuation">: </span>
    <span class="value"><h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2></span><span class="punctuation">,</span>
  </div>
  <div>
    <span class="key">date</span><span class="punctuation">: </span>
    <span class="value">{{ post.date | date: "%b %-d, %Y" }}</span><span class="punctuation">,</span>
  </div>
  <div>
    <span class="key">tags</span><span class="punctuation">: </span><span class="punctuation">[</span>{% for tag in post.tags %}<span class="value"><a href="/tags/#{{ tag }}">{{tag}}</a></span>{% if forloop.index < forloop.length %}<span class="punctuation">, </span>{% endif %}{% endfor %}<span class="punctuation">]</span><span class="punctuation">,</span>
  </div>
  <div class="obj-prop">
    <span class="key">summary</span><span class="punctuation">: </span>
    <p class="value">{{ post.excerpt | strip_newlines | remove: '<p>' | remove: '</p>' }}</p><span class="punctuation">,</span>
  </div>
  </div>
<span class="punctuation">}</span>{% if forloop.index < forloop.length %}<span class="token punctuation">,</span>{% endif %}{% endfor %}<span class="punctuation">]</span><span class="punctuation">,</span>
</div>
