html {
  box-sizing: border-box;
}

* {
  line-height: 1.5em;
}

*, *:before, *:after {
  box-sizing: inherit;
  }

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: normal;
    padding: $spacing-unit;
    letter-spacing: 0.02em;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}

ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}

blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.obj-pros {
  margin-left: 1em;
  h1, h2, p {
    display: inline;
  }
  h1 {
    font-size: 1em;
    font-weight: 600;
  }
  h2 {
    font-size: 1em;
    font-weight: 600;
  }
}

article{
  background-color: white;
  padding: 3em;
  color: $text-color;
  font-family: $article-font-family;
  h1,
  h2 {
    font-size: 1.5em;
  }
  p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }
}

@include media-query($on-palm) {
    body {
      padding: 0;
    }
    .obj-pros {
      margin-left: 1.5em;
    }
}
.key {
  color: $key-color;
}

.key:before, .value:before, .key:after, .value:after {
  content: '"';
}

.punctuation {
  color: $punctuation-color;
}

a {
  color: $link-color;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

a:visited {
  color: lighten($link-color, 5%);
}

a:hover,
a:visited:hover {
  color: $link-color;
}

a:hover {
  border-bottom: 3px solid $link-color;
}

.hidden {
  display: none;
}

.search-container {
    position: fixed;
    background: rgba($background-color, 0.9);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 2em;
    overflow: auto;
    z-index: 1000;

    .search-close {
      position: absolute;
      background: transparent;
      padding: 0;
      margin: 0;
      height: 1.5em;
      width: 1.5em;
      color: $red-color;
      font-size: 1.5em;
      border: 0;
      top: 0;
      outline: none;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer;

      &:hover {
          color: darken($red-color, 10%);
      }

      &:active {
          color: $red-color;
      }
    }

    .search-input {
      width: calc(100% - 104px);
      max-width: 512px;
      background: transparent;
      display: inline-block;
      border: 0;
      border-bottom: 3px dotted $link-color;
      outline: none;
      padding: 0.2em 0.5em 0;
      font-weight: bold;
      color: #000;
    }

    .search-input:focus {
      background: rgba($link-color, 0.1);
    }

    .values {
      display: inline;
    }

    .black {
      color: #000;
    }
}

.cover-image {
  position: absolute;
    width: calc(100% - 4em);
    left: 2em;
  @include media-query($on-palm) {
    width: 100%;
    left: 0;
  }
}

.image-caption {
  text-align: center;
  margin: 10px auto 0;
}

.comment-wrapper {
  color: #75715e;
  h3, p, pre {
    margin: 0;
    margin-left: 20px;
  }
  .comments {
    p, code {
      font-size: small;
    }
    .login {
      margin: 0;
      margin-left: 20px;
      font-weight: 800;
    }
    .comment {
      margin: 20px 0px;
    }
  }
}

.hidden {
  display: none;
}

.loader {
  display: block;
  margin: 20px;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #7e83cb;
  width: 32px;
  height: 32px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
