<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body onload="scrollToArticle()">
    {% include header.html %}

    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

      <header class="post-header">
        <h2 class="post-title" itemprop="name headline">{{ page.title }}</h2>
        <p class="post-meta">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
          <span class="punctuation"> | </span>
          <a href="/{{ page.category }}">{{ page.category }}</a>
          <span class="punctuation"> | </span>
          {% for tag in page.tags %}<a href="/tags/#{{ tag }}">{{tag}}</a>{% if forloop.index < forloop.length %}<span class="punctuation">, </span>{% endif %}{% endfor %}
        </p>
      </header>
      {% if page.coverImage %}
      <figure>
        <img id="coverImage" class="cover-image" onload="window.onresize()" src="{{ page.coverImage  }}" />
        <div id="postFigure"></div>
        {% if page.coverImageCaption %}
        <figcaption class="image-caption">{{ page.coverImageCaption }}</figcaption>
        {% endif %}
      </figure>
      {% endif %}
      <div class="post-content" itemprop="articleBody">
        {{ content }}
      </div>
    </article>

    <div class="comment-wrapper">
    /*
      <h3><span id="count">0</span> Comments</h3>
      <p>
        <small>Want to leave a comment? Visit <a href="https://github.com/himalay/himalay.github.io/issues/{{ page.commentIssueId }}" target="_blank"> this post's issue page on GitHub</a>.
        </small>
      </p>
      <div id="comments" class="comments">
        <div class="hidden loader"></div>
      </div>
    */
    </div>
<span class="punctuation">}</span>
  </body>
  <script>
  var commentsEl = document.querySelector('#comments')
  var token = '50439d0b791cae43a189b04997bae4f1364fd024'
  atomic.get('https://api.github.com/repos/himalay/himalay.github.io/issues/{{ page.commentIssueId }}/comments?access_token=' + token)
  .success(function (comments, xhr) {
  document.querySelector('#count').textContent = comments.length
  comments.map(function (c) {
    atomic.setContentType('text/plain')
    atomic.post('https://api.github.com/markdown/raw?access_token=' + token, c.body)
    .success(function (htmlComment, xhr) {
      var createdDate = new Date(c.created_at).toString().match(/(\w+\s\d+\s\d+)\s(\d+:\d+)/)
      commentsEl.appendChild(Object.assign(document.createElement('div'), {
        className: 'comment',
        innerHTML: htmlComment + '<a class="login" href="https://github.com/' + c.user.login + '" target="_blank">@' + c.user.login + '</a> <small>' + createdDate[1] + ' at ' + createdDate[2] + '</small>'
      }))
    })
    .error(console.error)
  })
  })
  .error(console.error)
  .always(function () {
    document.querySelector('.loader').classList.toggle('loader')
  })
  </script>
</html>
